@use 'base/variables' as v;
@use 'base/mixins' as m;

@media (prefers-color-scheme: dark){
    $grisOscuro: #2C2C3B;
    body{
        background-color: $grisOscuro;
    }
    
    .tagline,
    .formulario .campo label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a{
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina{
        color: darken(v.$grisClaro , 10%);
    }
    
    .formulario .campo input{
        background-color: lighten($color: $grisOscuro, $amount: 15%);
    }

    .alerta.error{
        background-color: v.$blanco;
    }

    .barra-mobile{
        background-color: darken($grisOscuro, 7%);
    }

    .filtros{
        background-color: lighten($grisOscuro, 10%);
        h2,
        label{
            color: v.$blanco;
        }
        input[type="radio"]{
            accent-color: $grisOscuro;
        }
    }
    
    .dashboard{
        background-color: $grisOscuro;

        .enlace{
            color: v.$grisClaro;
            &:hover{
                color: darken($color: v.$grisClaro, $amount: 20%);
            }
        }
    }

    .listado-proyectos .proyecto{
        background-color: lighten($color: $grisOscuro, $amount: 20%);
        &:hover{
            background-color: lighten($color: $grisOscuro, $amount: 15%);
        }
    }

    .listado-tareas .tarea{
        background-color: lighten($color: $grisOscuro, $amount: 10%);
        border: none;
        p{
            color: v.$grisClaro;
        }
    }
}